{% extends 'employee/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="p-lg-5 p-4">
    <div>
        <h5 class="text-primary">Welcome Back!</h5>
        <p class="text-muted">Sign in to continue to your attendance system.</p>
    </div>

    <div class="mt-4">
        <form method="POST" action="{% url 'employee:login' %}">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% for message in messages %}
            <div class="alert {{ message.tags }} mb-4" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}

            <!-- Email Input Field -->
            <div class="mb-3">
                {{ form.email|as_crispy_field }}
            </div>

            <!-- Password Input Field -->
            <div class="mb-3 position-relative">
                <div class="float-end">
                    <a href="{% url 'employee:password_reset' %}" class="text-muted">Forgot password?</a>
                </div>
                {{ form.password|as_crispy_field }}
                <button class="btn btn-link position-absolute mt-4 end-0 top-0 text-decoration-none text-muted"
                    type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
            </div>

            <!-- Sign In Button -->
            <div class="mt-4">
                <button class="btn btn-success w-100" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- Password Toggle Script -->
<script src="{% static 'js/pages/password-addon.init.js' %}"></script>
{% endblock extra_js %}