{% extends 'employee/base.html' %}
{% load static %}
{% block title %}Password Reset Link Success{% endblock title %}

{% block content %}
<div class="p-lg-5 p-4 text-center">
    <div class="avatar-lg mx-auto mt-2">
        <div class="avatar-title bg-light text-success display-3 rounded-circle">
            <i class="ri-checkbox-circle-fill"></i>
        </div>
    </div>
    <div class="mt-4">
        <h4>Password Reset Link Sent Successfully</h4>
        <p class="text-muted mx-4">
            The Link has been sent successfully. Please use that to link to reset the password
        </p>
        <div class="mt-4">
            <a href="{% url 'employee:login' %}" class="btn btn-success w-100">Back to Login Page</a>
        </div>
    </div>
</div>
{% endblock content %}