{% extends 'employee/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Set New Password{% endblock title %}

{% block content %}
<div class="p-lg-5 p-4">
    <div class="mt-2">
        <h5 class="text-primary">Set New Password</h5>
    </div>
    <div class="mt-4">
        <form class="needs-validation" novalidate method="POST"
            action="{% url 'employee:password_reset_confirm' pk=pk token=token %}">
            {% csrf_token %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} mb-4" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {{ form|crispy }}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Set Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}